.main{
    background-image: url('https://4kwallpapers.com/images/wallpapers/dark-background-abstract-background-network-3d-background-1920x1080-8324.png');
    width: 100%;
    height: auto;
    background-size: 100% 100%;
    /* background-repeat: no-repeat; */
}

.bxshadow{
    
    /* border: 8px solid; border-image: linear-gradient(90deg, rgba(60,74,83,0.90), rgba(60,74,83,.00)) 1; border-left:none; border-top:none; border-right:none; */
}