<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">TOYOTA Warehouse</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <button class="nav-link" (click)="onOpenModal(null!, 'add')" id="addStyle">Add Toyota <span class="sr-only">(current)</span></button>
        </li>
     </ul>
     <p class="tracker">Total: </p>
     <form class="form-inline my-2 my-lg-0">
       <input type="search" (ngModelChange)="searchToyota(key?.value)" #key="ngModel" ngModel
        name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search item..." required>
    </form>
  </div>
</nav>


<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let toyota of toyotas" class="col-md-6 col-xl-3">
       <div class="card m-b-30">
          <div class="size">
                <a href=""><img src="{{toyota?.image}}" alt="{{toyota.model}}" class="img-fluid " id="size"></a>
          </div>
            <table>
               <tbody class="table-active">
                  <tr>
                     <td>Model : {{toyota.model}}</td>
                     <td>Inventory : {{toyota.dateOfInventory}}</td>
                  </tr>
                  <tr>
                     <td>Status : {{toyota.status}}</td>
                     <td>Amount : {{toyota.numberOfCars}}</td>
                  </tr>
                  <tr>
                     <td>Color :  {{toyota.color}}</td>
                     <td>Mileage : {{toyota.mileage}}</td>
                  </tr>
                  <tr>
                     <td>Price : {{toyota.price | currency: 'USD'}}</td>
                     <td>Year: {{toyota.year}}</td>
                  </tr>
               </tbody>
            </table>
           <div>
             <div class="float-right btn-group btn-group-sm">
                <button (click)="onOpenModal(toyota, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit">Edit</button>
                <button (click)="onOpenModal(toyota, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete">Delete</button>
             </div>
          </div>
       </div>
    </div>
  </div>
</div>



<div class="modal fade" id="addToyotaModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
      <div class="modal-header">
         <h5 class="modal-title" id="addEmployeeModalLabel">Add Mercedes</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
      </div>
      <div class="modal-body">
         <form #addForm="ngForm" (ngSubmit)="onAddToyota(addForm)">
          <div class="form-group">
             <label for="image">Image URL</label>
             <input type="text" ngModel name="image" class="form-control" id="imageUrl" placeholder="Image URL" required>
          </div>
         <div class="form-group">
            <label for="model">Model</label>
            <input type="text" ngModel name="model" class="form-control" id="model" placeholder="Model" required>
         </div>
         <div class="form-group">
            <label for="status">Status</label>
            <input type="text" ngModel name="status" class="form-control" id="status" placeholder="Status" required>
         </div>
         <div class="form-group">
            <label for="color">Color</label>
            <input type="text" ngModel name="color" class="form-control" id="color" placeholder="color" required>
         </div>
         <div class="form-group">
            <label for="price">Price</label>
            <input type="number" ngModel name="price" class="form-control" id="price" placeholder="price" required>
         </div>
         <div class="form-group">
            <label for="dateOfInventory">Inventory</label>
            <input type="date" ngModel name="dateOfInventory" class="form-control" id="dateOfInventory" placeholder="inventory" required>
         </div>
         <div class="form-group">
          <label for="numberOfCars">Amount</label>
          <input type="number" ngModel name="numberOfCars" class="form-control" id="numberOfCars" placeholder="amount" required>
         </div>
         <div class="form-group">
          <label for="mileage">Mileage</label>
          <input type="number" ngModel name="mileage" class="form-control" id="mileage" placeholder="mileage" required>
         </div>
         <div class="form-group">
          <label for="year">Year</label>
          <input type="number" ngModel name="year" class="form-control" id="year" placeholder="year" required>
         </div>
         <div class="modal-footer">
            <button type="button" id="add-toyota" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Add</button>
         </div>
         </form>
      </div>
   </div>
 </div>
 </div>


<div class="modal fade" id="updateToyotaModal" tabindex="-1" role="dialog" aria-labelledby="toyotaEditModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="updateToyotaModalLabel">Edit{{editItem?.model}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <form #editForm="ngForm">

             <input type="hidden" ngModel="{{editItem?.id}}" name="id" class="form-control" id="id" placeholder="ID">

             <div class="form-group">
                <label for="image">Image URL</label>
                <input type="text" ngModel="{{editItem?.image}}" name="image" class="form-control" id="image1" placeholder="Image URL">
             </div>

             <div class="form-group">
                <label for="model">Model</label>
                <input type="text" ngModel="{{editItem?.model}}" name="model" class="form-control" id="model1" aria-describedby="emailHelp" placeholder="Model">
             </div>
             
             <div class="form-group">
                <label for="status">Status</label>
                <input type="text" ngModel="{{editItem?.status}}" name="status" class="form-control" id="status1" placeholder="Email">
             </div>

             <div class="form-group">
                <label for="color">Color</label>
                <input type="text" ngModel="{{editItem?.color}}" name="color" class="form-control" id="color1" placeholder="color">
             </div>

             <div class="form-group">
                <label for="price">Price</label>
                <input type="number" ngModel="{{editItem?.price}}" name="price" class="form-control" id="price1" placeholder="Price">
             </div>

             <div class="form-group">
                <label for="dateOfInventory">Inventory</label>
                <input type="date" ngModel="{{editItem?.dateOfInventory}}" name="dateOfInventory" class="form-control" id="dateOfInventory1" placeholder="Inventory">
             </div>

             <div class="form-group">
                <label for="numberOfCars">Amount</label>
                <input type="number" ngModel="{{editItem?.numberOfCars}}" name="numberOfCars" class="form-control" id="numberOfCars1" placeholder="Amount">
             </div>

             <div class="form-group">
                <label for="mileage">Mileage</label>
                <input type="number" ngModel="{{editItem?.mileage}}" name="mileage" class="form-control" id="mileage1" placeholder="Mileage">
             </div>

             <div class="form-group">
                <label for="year">Year</label>
                <input type="number" ngModel="{{editItem?.year}}" name="year" class="form-control" id="year1" placeholder="Year">
             </div>
             
             <div class="modal-footer">
                <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>

                <button (click)="onUpdateToyota(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
             </div>

          </form>
       </div>
    </div>
 </div>
</div>


<div class="modal fade" id="deleteToyotaModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">
          <p>Are you sure you want to delete {{deleteToyota?.model}}?</p>
          <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
             <button (click)="onDeleteToyota(deleteToyota.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
       </div>
    </div>
 </div>
</div>


<div *ngIf="toyotas?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
<div class="alert alert-info" role="alert">
 <h4 class="alert-heading">NO TOYOTA!</h4>
 <p>No car in Toyota inventory.</p>
</div>
</div>
